* {
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

:root {
    --color: rgb(204, 159, 46);
    --dim_white: rgb(165, 163, 163);
}

header {
    background-image: linear-gradient(rgba(20, 20, 20, 0.8),rgba(20, 20, 20, 0.8)),url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    padding: 1rem;
    color: white;
}


/**********  Header container  /**********/


.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dim_white);
}

.header_box {
    /*border: 1px solid white;*/
    padding: 0.5rem;
}

.header_item {
    /*border: 1px solid white;*/
    padding: 0.5rem;
}

.header_item > a {
    margin: 0 20px;
    font-weight: 300;
    letter-spacing: 1px;
    color: white;
    position: relative;
    transition: width 0.5s;
}

.header_item > a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--color);
    bottom: -5px;
    left: 0;
    transition: width 0.5s;
}

.header_item > a:hover {
    color: var(--color);
    transition: 0.5s;
}

.header_item > a:hover::before{
    width: 100%;
}


/**********  Hamburger  /**********/


.hamburger {
    padding: 5px;
    width: 35px;
    height: 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--color);
    display: none;
}

.bar {
    width: 100%;
    height: 2px;
    background-color: rgb(20,20,20);
}


/**********  Header text  /**********/


.header_text {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-around;
}

.header_text_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.box1 {
    width: 60%;
    flex-direction: column;
}

.inner_box {
    width: 80%;
}

.inner_box h2{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.inner_box p {
    margin-bottom: 50px;
    letter-spacing: 1px;
    line-height: 25px;
    color: var(--dim_white);
}

.inner_box .button {
    border: none;
    background: none;
    color: var(--color);
    text-transform: uppercase;
    width: 150px;
    font-weight: 700;
    border: 1px solid var(--dim_white);
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.inner_box .button:hover {
    transform: translateY(-10px);
    background-color: var(--color);
    color: black;
}

.box2 {
    width: 40%;
}

.box2 img {
    width: 80%;
    border-radius: 10px;
}


/**********  Attention text  /**********/


.attention_container {
    width: 80%;
    height: 100%;
    padding: 40px 30px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    transform: translateY(-70px);
}

.attention_container .p_1{
    color: var(--color);
    font-weight: 600;
    font-size: 1.3rem;
}

.attention_container .h_2 {
    font-size: 3rem;
    font-weight: 600;
    margin: 20px 0;
}

.attention_container .p_2 {
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.attention_container .button {
    border: none;
    background: none;
    background-color: var(--color);
    color: black;
    text-transform: uppercase;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
    height: 40px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.attention_container .button:hover {
    transform: translateY(-10px);
    background: none;
    border: 1px solid var(--color);
}


/**********  About me  /**********/


.about_container {
    display: flex;
    justify-content: space-between;
    height: 800px;
    border: 1px solid black;

}

.about_box {
    border: 1px solid black;
    height: 100%;
    width: 50%;
    margin: 10px;
}


/*******************************************************************************************/


@media only screen and (max-width: 1200px) {

    header {
        height: 750px
    }

    /**********  Inner text  /**********/

    .inner_box h2,
    .attention_container .h_2{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 992px) {

    /* Inner text */

    .inner_box h2,
    .attention_container .h_2{
        font-size: 2rem;
    }


    /**********  Attention text  /**********/

    .attention_container {
        width: 95%;
    }

    
}

@media only screen and (max-width: 768px) {

    /**********  Header container  /**********/

    header {
        height: 930px;
    }

    .header_container h2 {
        z-index: 2;
    }

    .header_item {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(20,20,20);
        z-index: 1;
        padding: 50px 0 20px 0;
        transition: 0.7s ease-in-out;
    }

    .header_item a {
        margin: 10px 0;
    }

    .header_item.active {
        left: 0;
    }


    /**********  Hamburer  /**********/


    .hamburger {
        z-index: 1;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


    /**********  Inner text  /**********/


    .header_text {
        flex-direction: column-reverse;
        align-items: center;
        height:800px;
    }

    .box1 {
        width: 100%;
    }

    .box2 {
        min-width: 100%;
    }

    .box2 img {
        height: 100%;
    }

    .inner_box {
        width: 90%;
    }

    .inner_box h2,
    .inner_box p {
        margin-bottom: 20px;
    }

    .inner_box p,
    .attention_container .p_2 {
        font-size: 0.9rem;
    }

    .inner_box .button,
    .attention_container .button  {
        width: 120px;
        height: 30px;
        font-size: 0.7rem;
    }
    
}

@media only screen and (max-width: 376px) {


    header {
        height: 700px;
    }

    /**********  Inner text  /**********/

    .header_text {
        top: 40%;
        height: 580px;
    }

    .inner_box {
        width: 100%;
        text-align: center;
    }
    
    .inner_box h2,
    .attention_container .h_2 {
        font-size: 1.5rem;
    }


    /**********  Attention text  /**********/


    .attention_container {
        width: 100%;
        border-radius: 5px;
        padding: 10px 5px;
    }
}